<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/styles/main.css">
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
</head>
<body>
    <h2>Client Form:</h2>

    <form name="user" class="findArt">
        <label>Name</label>
        <input name="name" placeholder="enter name...">
        <label>Age</label>
        <input name="age" placeholder="enter age...">
        <label>Country</label>
        <input name="country" placeholder="enter country...">
        
        <button type="submit">Create profile</button>
    </form>

    <script src="/js/mainClientSide.js"></script>
</body>
</html>